<h1 class="title-content" id="presentation">Présentation de l'entreprise Chausson Matériaux</h1>

<p class="text-content">L’entreprise où je réalise mon stage se nomme Chausson Matériaux. <br>
Fondée en 1921 par le grand-père des dirigeants actuels, Chausson Matériaux est la première entreprise nationale de distribution de matériaux de construction. <br>
Elle fait le lien entre les constructeurs de ces matériaux et les acheteurs professionnel : c’est ce qu’on appelle du négoce. En France, on retrouve environ 350 agences au nom de l'enseigne. <br><br>
<img src="https://www.cozynergy.com/wp-content/uploads/2016/09/unnamed-1.png" border="0"/> <br>
Le service informatique de Chausson est composé d’une petite vingtaine de personnes divisée en 2 équipes étroitement connectés malgré la différence de leur travail. <br>
Tout d’abord, l’équipe AS400 qui s’occupe de l’ERP maison qu’a pu développer l’entreprise au cours des années.Il s’adapte donc parfaitement au cœur de métier mais amène une certaine complexité à l’infrastructure globale. <br><br>
De l’autre côté, l’équipe de développement web dont je fais partie. Elle s’occupe de tout le développement nécessaire pour l’entreprise, que ce soit pour une utilisation interne ou non. <br>
Le travail est tourné sur des technologies Microsoft, la plupart des projets utilisent donc le Framework ASP .NET et ses dépendances (ASP .NET CORE, ASP .NET CORE MVC). <br>
Dans le cadre du développement mobile, le Xamarin est utilisé. La gestion collaborative est aussi supportée par une technologie Microsoft, TFS (Team Foundation Server) même si le contrôle de code source se fait avec Git. <br><br>

Je vais vous détailler les employés de mon équipe. Elle est donc composée de : Patrice LAMARCHE, l’actuel chef de projet et MVP Microsoft ; <br>
Nicolas HILAIRE, le leader technique et ayant travaillé chez Cdiscount pendant plusieurs années ; Alexandre MIOTTO, le membre le plus ancien de l’équipe et donc le référent en terme d’AS400 ou d’ancien projet ; <br>
 Noeline PAGESY, développeuse mobile ; Sébastien LEBOURGEOIS, ancien employé de CGI et dernier arrivant dans l’équipe.  <br>
 
 L’équipe comprend aussi 2 alternant : Thomas BUREAU-DU-COLOMBIER qui étudie à l’IPI et Bastien PEMEJA, étudiant de 3iL à Rodez. <br>

La supervision est faite par Caroline CAFFORT, la DSI mais aussi Product Owner actuelle. <br>

D’ici septembre, un nouveau chef de projet va faire son arrivée, il se nomme Alexandre FAURRE et était employé chez GFI.
</p>
