<h1 class="title-content" id="presentation">Présentation de Céline Bertaud</h1>

<div class="row">
    <img class="col-3" src="https://cdn.puresystem.eu/C&P/logoceline.jpg"/>
    
    <div class="col-7">
        Actuellement étudiante en troisième année du Bachelor Architecture informatique et Systèmes d'information au campus d'Ynov Toulouse. <br><br>
        
        Plutôt axée sur le développement web, je suis intéressée par toutes les technologies émergentes telles que AngularJS, NodeJS, Bower et plus généralement la Réalité Augmentée et la Réalité Virtuelle. <br><br>
        
        A l'avenir, je souhaite être une personne décisionnaire au sein d'une entreprise majeure dans le monde du numérique, tout en restant polyvalente et à l'écoute des marchés pour progresser avec mon temps.
    </div>
    
</div>

<br>
<div id="contact">
    <h3>Où me trouver ?</h3>
    <span><a href="https://www.linkedin.com/in/c%C3%A9line-bertaud-50597113b/">LinkedIn</a></span><br>
    <span><a href="https://github.com/yoru-san">Github</a></span><br>
    <span><a href="https://www.facebook.com/celine.bertaud.1">Facebook</a></span>
</div>
