<h1 class="title-content" id="presentation">Présentation de Céline Bertaud</h1>


<img src="https://cdn.puresystem.eu/C&P/steam.jpg"/><br><br>

Actuellement étudiante en troisième année du Bachelor Architecture informatique et Systèmes d'information au campus d'Ynov Toulouse. <br><br>

Plutôt axée sur le développement web, je suis intéressée par toutes les technologies émergentes telles que AngularJS, NodeJS, Bower et plus généralement la Réalité Augmentée et la Réalité Virtuelle. <br><br>

A l'avenir, je souhaite être une personne décisionnaire au sein d'une entreprise majeure dans le monde du numérique, tout en restant polyvalente et à l'écoute des marchés pour progresser avec mon temps.


